In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import os
from os.path import join
import sys
import json

In [2]:
# Load the "autoreload" extension
%load_ext autoreload

# always reload modules marked with "%aimport"
%autoreload 1

In [3]:
# add the 'src' directory as one where we can import modules
src_dir = join(os.getcwd(), os.pardir, 'src')
sys.path.append(src_dir)

In [20]:
%aimport Data.make_data
from Data.make_data import states_in_nerc
%aimport Analysis.index
from Analysis.index import facility_emission_gen, group_facility_data, facility_co2, adjust_epa_emissions, group_fuel_cats
%aimport util.utils
from util.utils import rename_cols

## Load data

In [5]:
cwd = os.getcwd()
path = join(cwd, '..', 'Data storage',
            'Facility gen fuels and CO2 2017-05-25.zip')
eia_fac = pd.read_csv(path)

In [6]:
path = join(cwd, '..', 'Data storage', 'Derived data',
            'Monthly EPA emissions 2017-05-25.csv')
epa = pd.read_csv(path)

## Test facility_emissions_gen

In [10]:
fuel_cat_folder = join(cwd, '..', 'Data storage', 'Fuel categories')
state_cats_path = join(fuel_cat_folder, 'State_facility.json')

with open(state_cats_path, 'r') as f:
    state_fuel_cat = json.load(f)
    
custom_cats_path = join(fuel_cat_folder, 'Custom_results.json')
with open(custom_cats_path, 'r') as f:
    custom_fuel_cat = json.load(f)

In [38]:
co2, gen_fuels = facility_emission_gen(eia_facility=eia_fac, epa=epa,
                                       state_fuel_cat=state_fuel_cat,
                                       custom_fuel_cat=custom_fuel_cat)

Renaming columns
Grouping facilities
Adjusting EPA emissions
Caculating CO2
Gen/fuels to state categories
Gen/fuels to custom categories

In [30]:
co2.head()

   year  month  plant id  final co2 (kg)
0  2001      1         2    0.000000e+00
1  2001      1         3    9.625411e+08
2  2001      1         4    0.000000e+00
3  2001      1         7    6.700092e+07
4  2001      1         8    7.530204e+08

In [39]:
gen_fuels.head()

,plant id,fuel category,year,month,total fuel (mmbtu),generation (mwh),elec fuel (mmbtu),all fuel fossil co2 (kg),elec fuel fossil co2 (kg),all fuel total co2 (kg),elec fuel total co2 (kg)
0,2,Hydro,2001,1,195479.69,18918.0,195479.69,0.0,0.0,0.0,0.0
1,2,Hydro,2001,2,312128.93,30207.0,312128.93,0.0,0.0,0.0,0.0
2,2,Hydro,2001,3,390060.42,37749.0,390060.42,0.0,0.0,0.0,0.0
3,2,Hydro,2001,4,281925.57,27284.0,281925.57,0.0,0.0,0.0,0.0
4,2,Hydro,2001,5,92594.01,8961.0,92594.01,0.0,0.0,0.0,0.0